<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(products.length > 0){ %>
                <ul>
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <p><b><%= p.title %></b> </p>
                            <p> <b>Quantity</b> :  <%= p.cartItem.quantity %> </p>
                            <form style="margin-top:10px" action="/cart-delete-item" method="post">
                                <input type="hidden" name="productId" value="<%=p.id%>">
                                <button class="btn btn_delete">Delete</button>
                            </form>
                        </li>
                    <%});%>
                </ul>
                <hr>
                <div class="centered">
                    <form method="POST" action="/create-order">
                        <button class="btn" type="submit">Order Now!</button>
                    </form>
                </div>
            <%} else {%>
                    <h1>No Produts in cart</h1>
            <%}%>
        </main>
        <%- include('../includes/end.ejs') %>